<img src="./images/bidder-screenshot.png" alt="" class="modal-image">

<h2 class="project-name"> Bidder Houston </h2>

<a href="https://bidder-houston.herokuapp.com/"> Live Application </a>

<p class="project-description">
<span>
  Bidder is a full-stack web application that allows users to bid on local art pieces in Houston, TX. Built using the Node.js and the MVC artchectirual scheme, this application is developed to ensure ease of use and scalability.
</span>

<h3> Role and Responsibilities</h3>
<span>
1. Developed a reliable system to create, verify, and authenticate users and keep track of their actions using Node.js, Express and PostgreSQL.
<br>
<br>
2. Worked to prevent common application vulnerabilities by implementing security techniques such as: SQL prepared statements to defend against SQL injection, bcrypt hashing of passwords to avoid plain text storage, and email verification via Nodemailer to guard against inauthentic user registration.
<br>
<br>
3. Took charge of cloud deployment and managing the errors that come with application deployment.
</span>
</p>

<h2>Technologies Used:</h2>
<ul>
  <li>HTML 5</li>
  <li>CSS 3</li>
  <li>Bootstrap 4</li>
  <li>JQuery</li>
  <li>JavaScript</li>
  <li> Handlebars </li>
  <li> Node.js </li>
  <li> Express.js </li>
  <li> PostgreSQL </li>
  <li> Socket.io </li>
  <li> Stripe API </li>
  <li> Pg-Promise </li>
</ul>

<div class="social" align="center">
  <a href="https://github.com/TheBrotherFromASouthernMother/Bidder-App" class="fab fa-github" target="_blank"></a>
</div>
