<img src="./images/dadjokebot.jpg" alt="" class="modal-image">

<h2 class="project-name"> Dad Joke Bot</h2>

<p class="project-description">
  Dad Joke Bot is a simple servless application that delivers a random dad joke to a receptient at a set time.
</p>

<h2>Technologies Used:</h2>
<ul>
  <li> JavaScript (ES6)</li>
  <li> Node.js </li>
  <li> Cron package </li>
  <li> Nexmo Api </li>
  <li> Git </li>
  <li> Heroku </li>
</ul>

<div class="social" align="center">
  <a href="https://github.com/TheBrotherFromASouthernMother/DadJokeBot-Node.js" class="fab fa-github" target="_blank"></a>
</div>
