<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:image" content="./images/portfolio.png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Christian Lowe</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="./slick-1.8.0/slick/slick.css"/>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="/css/breakpoints.css">
  </head>
  <body>
    <div class="hero-image">
      <div class="hero-image-overlay">
        <div class="hero-text">
          <h1>Hi, I'm Christian </h1>
          <p>And I'm a developer</p>
        </div>
      </div>
      <p class="photo-creds"> East Downtown, Houston <br> Photo by: <br> <a href="https://tonymmorales.com/about/" target="_blank">Tony Morales </a> </p>
    </div>

    <header>


    <div class="pageBanner">
      <!-- TODO: add names for resume, linkedin, and Github links -->
      <div class="social-links">
        <div class="social-link">
          <a href="https://www.linkedin.com/in/christian-lowe-creator/" class="fab fa-linkedin" target="_blank"></a>
          <p> LinkedIn</p>
        </div>

        <div class="social-link">
          <a href="/resume" class="fab fas fa-file-alt" target="_blank"></a>
          <p> Resume </p>
        </div>

        <div class="social-link">
          <a href="https://github.com/TheBrotherFromASouthernMother" class="fab fa-github" target="_blank"></a>
          <p>Github</p>
        </div>

      </div>

      <address class="">
        <a href="mailto:christglowe@gmail.com"> christglowe@gmail.com</a>
      </address>

      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>

    </div>

    <ul class ="pageMenu">
      <li> <a href="#About">  Get To Know Me </a></li>
      <li> <a href="#projects"> What I've Worked On </a> </li>
      <li> <a href="#contact-email"> Get In Touch With Me </a></li>
    </ul>

    </header>

    <main =class="pageContent">
      <section id='About'>
        <div class="section-overlay">
          <h1 align="center" id="about-title"> About Me</h1>
          <div class="profile">

          <div class="profileBox">
            <div class="profileImage"></div>
          </div>

          <div class="profileTitle">
            <h3>Christian Lowe </h3>
            <h3> Software Developer</h3>
          </div>
        </div>

        <div class="about-me-info">
          <h1> Who Am I? </h1>
          <p> I am a Developer, a teacher, a writer, and a phở enthusiast. I am a wearer of many hats and I relish the chance to meet exciting new technical challenges. I have a lifelong passion for social enterprise and I love learning how to use technology to solve the world's most pressing issues.</p>
        </div>
        </div>
      </div>
      </section>


      <section id="tech">
        <h1> Technologies I've used: </h1>
        <div class="technologies">

          <!-- Languages and Frameworks -->
          <!-- TODO: Add a D3.js animiation to slowly unviel the icons. Sliding white sheet animation
        -->
        <div id="tech-slider">

          <div class="technology-icon">
            <i class="devicon-html5-plain"></i>
            <p> HTML 5 </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-css3-plain"></i>
            <p> CSS </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-javascript-plain"></i>
            <p> JavaScript </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-python-plain"></i>
            <p> Python </p>
          </div>
          <div class="technology-icon">
            <i class="devicon-jquery-plain-wordmark"></i>
            <p> jQuery </p>
          </div>
          <div class="technology-icon">
            <i class="devicon-nodejs-plain"></i>
            <p> Node.js </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-bootstrap-plain"></i>
            <p>Bootstrap</p>
          </div>

          <div class="technology-icon">
            <i class="devicon-react-original-wordmark"></i>
            <p>React</p>
          </div>

          <div class="technology-icon">
              <i class="devicon-postgresql-plain"></i>
              <p>Postgres</p>
          </div>

          <div class="technology-icon">
            <i class="devicon-django-plain"></i>
            <p>Django</p>
          </div>

          <div class="technology-icon">
            <i class="devicon-express-original"></i>
            <p>Express.js</p>
          </div>
          <!-- Dev Tools -->

          <div class="technology-icon">
            <i class="devicon-d3js-plain"></i>
            <p> D3.js </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-git-plain"></i>
            <p> Git </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-heroku-original"></i>
            <p> Heroku </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-amazonwebservices-original"></i>
            <p> AWS </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-linux-plain"></i>
            <p> Linux </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-mocha-plain"></i>
            <p> Mocha </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-sequelize-plain"></i>
            <p> Sequelize </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-mysql-plain-wordmark"></i>
            <p> MySQL </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-docker-plain-wordmark"></i>
            <p> Docker </p>
          </div>

          <div class="technology-icon">
            <i class="devicon-react-original"></i>
            <p>React Native</p>
          </div>

          <!-- In Progress -->

          <div class="technology-icon">
              <i class="devicon-java-plain"></i>
              <p> Java</p>
          </div>

          <div class="technology-icon">
            <i class="devicon-c-plain"></i>
            <p> C </p>
          </div>


          <div class="technology-icon">
            <i class="devicon-mongodb-plain"></i>
            <p> MongoDB </p>
          </div>
          </div>
        </div>

      </section>

      <section id="projects">
        <h1 align="center">My Recent Projects: </h1>
        <div class="my-projects" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
<!--
          <div class="project" name="TheTitleStor">
            <div class="project-image" style="background-image:url('./images/sas1.png')">
              <img src="" alt="">
            </div>
            <h3> EzForm - TheTitleStor</h3>
          </div> -->


          <div class="project" name="SASmobile">
            <div class="project-image" style="background-image:url('./images/sas2.png')">
              <img src="" alt="">
            </div>
            <h3> SASmobile</h3>
          </div>


          <div class="project" name="bidder">
            <div class="project-image" style="background-image: url('./images/bidder-screenshot.png')">
              <img src="" alt="">
            </div>
            <h3>Bidder HTX</h3>
          </div>



          <div class="project" name="SASapi">
            <div class="project-image" style="background-image: url('./images/SASapi.jpg'); background-color: white;">
              <img src="" alt="">
            </div>
            <h3>SAS api</h3>
          </div>

          <div class="project" name="D8">
            <div class="project-image" style="background-image: url('./images/D8.png')" >
              <!-- <img src="https://i.imgur.com/keqGV29.png" alt=""> -->
            </div>
            <h3> D8 Web App </h3>

          </div>

          <div class="project" name="portfolio">
            <div class="project-image" style="background-image: url('./images/portfolio.png')">
              <!-- <img src="https://i.imgur.com/NZbFvug.png" alt=""> -->
            </div>
            <h3> Portfolio</h3>

          </div>

          <div class="project" name="mood.fm.js">
            <div class="project-image" style="background-image: url('./images/mood.png')" >
              <!-- <img src="https://i.imgur.com/KE6JU8Y.png" alt=""> -->
            </div>
            <h3> Mood.fm </h3>

          </div>
          <div class="project" name="DadJokeBot-Node.js">
            <div class="project-image" style="background-image: url('./images/dadjokebot.jpg')">
              <img src="" alt="">
            </div>
            <h3>DadJokeBot</h3>

          </div>

        </div>

      </section>

      <!-- <section id="hire-me">
        <div class="hire-me-image">
          <div class="position-credits">
            <p class="photo-creds"> Cape Perpetua, Oregon <br> Photo by: <br> <a href="#" target="_blank">Jeannie Sullivan </a></p>
          </div>
        </div>
        <div class="hire-me-background">
          <h5>Because software development is about more than lines of code in an IDE, or how fast you can implement a merge sort algorithim. <br> </h5>
          <ul>
            <li>Maintainability trumps speed because unmaintable code slows down the whole team.</li>
            <li> Honest communication, because it doesn't matter how great your idea is if you are the only one who can understand it. </li>
            <li>Transparency with your users and their data matters, not just because trust is good for business, but also because it is a moral requirement. </li>
            <li>Empathy for your teammates </li>
          </ul>
        </div>
      </section> -->

    </main>

    <div class="modal-background">
      <div class="modal-content">

      </div>

    </div>


    <div class="parallax-window" data-parallax="scroll" data-image-src="https://i.imgur.com/Dklt7kg.jpg">
      <div class="contact">
        <h2 align="center"> Contact Me </h2>
        <form class="contact-form" action="" method="post">
          <label for="fullName"> Name </label>
          <input type="text" name="fullName" value="" placeholder="Name">

          <label for="contact-email"> Email </label>
          <input type="email" name="contact-email" value="" id="contact-email" placeholder="Email">

          <label for="contact-number"> Phone Number </label>
          <input type="text" name="contact-number" value="" id="contact-number" placeholder="Phone number">

          <label for="contact-message"> Message </label>
          <textarea name="contact-message" rows="8" cols="80"  id="contact-message"
          placeholder="Say hi..."></textarea>

          <button type="submit" name="" value="" id="contact-submit" placeholder="Submit"> Submit </button>

        </form>
      </div>

      <p class="photo-creds"> Reykjavík, Iceland<br> Photo by: <br> <a href="https://www.instagram.com/yourgreatbigworld/" target="_blank"> YourGreatBigWorld Travel Photography </a> </p>
    </div>


    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

    <script type="text/javascript" src="./js/header.js"></script>

    <script type="text/javascript" src="./js/index.js"></script>

    <script type="text/javascript" src="./parallax.js-1.5.0/parallax.js"></script>

    <script type="text/javascript" src="./js/modal.js"></script>


    <script type="text/javascript" src="./slick-1.8.0/slick/slick.min.js"></script>


    <script type="text/javascript" src="./js/slick.js"></script>


    <script type="text/javascript" src="./js/tech-icons.js">
    </script>

    <script type="text/javascript">
    let previousPage = document.referrer || 'no reference';
    try {
       $.ajax({
         type: 'POST',
         url: "/reference",
         data: { previousPage: previousPage}
       })
     } catch(err) {
       console.log(err)
     }
    let $contactForm = $('.contact-form')
    .on('submit', function handleEmailSubmit(e) {
      e.preventDefault();
      alert('Thanks for contacing me! \n I\'ll be in touch soon!');
      window.location = 'https://www.linkedin.com/in/christian-lowe-creator/';
    });

    </script>


  </body>
</html>
