<img src="./images/mood.png" alt="" class="modal-image" style="width: 70%;  align-self: center; height: 70%;">

<h2 class="project-name"> mood.fm </h2>

<p class="project-description">
A web application that creates a playlist of music based on the weather in your city
<br>
<br>
mood.fm is a single-page web application built using Node.js and Express that captures
location based on user input and outputs a custom playlist based on the weather in that location.
</p>

<h2>Technologies Used:</h2>

<ul>
<li>HMTL5</li>
<li>CSS3</li>
<li>JavaScript</li>
<li> Node.js </li>
<li>Express.js</li>
<li>EJS</li>
<li>OpenWeatherMap API</li>
<li>Spotify API</li>
</ul>

<div class="social" align="center">
  <a href="https://github.com/TheBrotherFromASouthernMother/mood.fm.js" class="fab fa-github" target="_blank"></a>
</div>
