<div style="background-image: url(./images/portfolio.png)" alt="" class="modal-image"></div>

<h2 class="project-name"> Portfolio </h2>

<p class="project-description">

<span>
A simple web page to showcase my love of coding.
</span>

</p>

<h2>Technologies Used:</h2>
<ul>
  <li>HMTL5</li>
  <li>CSS3</li>
  <li> JQuery </li>
  <li>JavaScript</li>
  <li> Node.js </li>
  <li>Express.js</li>
  <li> nodemailer </li>
</ul>


<div class="social" align="center">
  <a href="https://github.com/TheBrotherFromASouthernMother/portfolio" class="fab fa-github" target="_blank"></a>
</div>
