<img src="./images/SASapi.jpg" alt="" class="modal-image">

<h2 class="project-name"> Semester at Sea API </h2>

<p class="project-description">

<span>
The unofficial REST API of Semester at Sea.
</span>

</p>

<h2>Technologies Used:</h2>
<ul>
  <li>JavaScript</li>
  <li>Node.js</li>
  <li>Express.js</li>
  <li> PostgreSQL</li>
  <li> Pg-Promise </li>
  <li> Bluebird </li>
</ul>


<div class="social" align="center">
  <a href="https://github.com/TheBrotherFromASouthernMother/Not-SAS-API" class="fab fa-github" target="_blank"></a>
</div>
