<img src="./images/SASapi.jpg" alt="" class="modal-image">

<h2 class="project-name"> Semester at Sea API </h2>

<p class="project-description">

<span>
The unofficial REST API of Semester at Sea.
</span>

<span>
  <br>
  <br>
  1. Designed a RESTful API that provides developers with meaningful data related to the Semester at Sea’s study abroad program.
  <br>
  <br>
  2. Made use of Express.js routing patterns and PostgreSQL to provide dynamic API endpoints to serve voyage information such service vessels, academic sponsors, and ports of call.
</span>

</p>

<h2>Technologies Used:</h2>
<ul>
  <li>JavaScript</li>
  <li>Node.js</li>
  <li>Express.js</li>
  <li> PostgreSQL</li>
  <li> Pg-Promise </li>
  <li> Bluebird </li>
</ul>


<div class="social" align="center">
  <a href="https://github.com/TheBrotherFromASouthernMother/Not-SAS-API" class="fab fa-github" target="_blank"></a>
</div>
