<img src="./images/sas2.png" alt="" class="modal-image" style="width: 70%;  align-self: center; height: 70%;">


<h2 class="project-name"> SASmobile </h2>

<p class="project-description">
<span>
  SASmobile is the unoifficial mobile application for the Semester at Sea study abroad program. Built with React Native, this is a cross-platform app that provides users with the ability to explore information about Semester at Sea's voyages, academic sponsors, ships, and ports of call.
</span>

<h3> Role and Responsibilities</h3>
<span>
1. Utilized the built-in Fetch API to connect the application with the Semester at Sea API
<br>
<br>
2. Integrated React-Native-Maps to interactively display information on each voyage's ports of call to a world map.
<br>
<br>
3. Used Redux's global store to control and keep track of the map component's state from view to view.
</span>
</p>

<h2>Technologies Used:</h2>
<ul>
  <li>React Native </li>
  <li>Redux</li>
  <li>JavaScript</li>
  <li>React Native Maps</li>
</ul>

<div class="social" align="center">
  <a href="https://github.com/TheBrotherFromASouthernMother/SASmobile" class="fab fa-github" target="_blank"></a>
</div>
