<img src="./images/bidder-screenshot.png" alt="" class="modal-image">

<h2 class="project-name"> EzForm Business </h2>

<p class="project-description">
<span>
EZ Form for business is a technical solution for automated documentation. Built upon the PyfPDF and PyPDF2 libraries, EZ Form for Business is an easily scalable solution that can be easily intergrated into most backend web stacks such as Django, Node.js, Ruby on Rails, and even PHP.
</span>

<h3> Role and Responsibilities</h3>
<span>
1. Developed an application to automate the transfer of automobile titles for a local business in Houston, TX using Django and PostgreSQL
<br>
<br>
2. Constructed an intuitive administrative dashboard that allows the business owner to easily create and edit customer information through the Django ORM
</span>
</p>

<h2>Technologies Used:</h2>
<ul>
  <li>Python </li>
  <li>Django</li>
  <li>PostgreSQL</li>
  <li>HMTL</li>
  <li>CSS</li>
  <li>PyPDF2</li>
  <li>PyfPDF</li>
</ul>

<div class="social" align="center">
  <a href="https://github.com/TheBrotherFromASouthernMother/TitleStore-Project" class="fab fa-github" target="_blank"></a>
</div>
