html, body {
  width: 100%;
  height: 100%;
  color: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.hero-image {
  background-image: url('../images/houstonArt2.jpg');
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-image-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,0.3));
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.hero-text-button {
  text
  font-family: inherit;
  width: 100px;
  height: 25px;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 10px;
  cursor: pointer;
  border-color: #e7e7e7;
  color: black;
}

.hero-text-button:hover {
   background: #e7e7e7;
}

.photo-creds {
  position: absolute;
  bottom: 1%;
  right: 1%;
  text-align: center;
  font-style: italic;
  font-size: 0.6em;
}

.photo-creds a {
  text-decoration: underline;
  color: inherit;
}


header {
  width: 100%;
  z-index: 100;
  position:fixed;
  top: 100%;
}

.pageBanner {
  background-color: rgba(0, 0, 0, 1);
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  overflow: hidden;
  margin-bottom: 0;
  color: white;
  margin-left: 0;
  left: 0;
  padding: 0;
}

.pageBanner address a {
  color: white;
}
.PageTitle {
  display: inline-flex;
  margin-left: 1%;
  font-size: 2.5em;
}

.pageMenu {
  margin-top: 0;
  background-color: white;
  display: none;
  color: black;
  margin-left: 0;
  padding: 0;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  border: 1px solid black;
}

.pageMenu li {
  padding: 0;
  text-decoration: none;
  margin: 0 0 5px 0;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.pageMenu li a {
  color: black;
  text-decoration: none;
}

.pageMenu li a:hover {

}

.social-links {
  display: inline-flex;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  /* border: 1px solid white; */
}

.social-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.social-link a{
  margin-bottom: 0;
}

.social-link p {
  margin: 0;
  font-size: 0.8em;
}

.fa, .fab {
  padding: 10px;
  font-size: 3em;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;

}

.fab:hover {
  opacity: 0.5
}

.hamburger {
  color:#fff;
  background: none;
  font-size:1.4em;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
}

.cross {
  color:#fff;
  background: none;
  display: none;
  cursor: pointer;
  border:0;
  font-size:3.5em;
  line-height:50px;
  font-weight:bold;
  outline:none;
  padding-top: 35px;
  margin-right: 5%;
}


.pageContent {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  position: relative;
}

#About {
  width: 100%;
  height: 20%;
  margin-top: 2%;
  background-image: url('https://i.imgur.com/NoqEOeI.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  text-align: center;
  overflow: hidden;
}

.section-overlay {
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  position: relative;
  overflow: hidden;
}

.profile {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profileBox {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.profileImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* border: 2px solid black; */
  background-image: url('https://i.imgur.com/RGlSJVd.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#about-title {
  font-size: 3em;
  display: block;
}

.about-me-info {
  background-color: rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
  padding: 0 3% 0 3%;
}

#tech {
  min-height: 30%;
  width: auto;
  overflow: hidden;
  color: black;
  text-align: center;
}

.technologies {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items:center;
  padding: 0 1% 0 1%;
  color: black;
  min-height: 25%;
  overflow: hidden;
}

#tech-slider {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

.technology-icon {
  display: inline-flex;
  min-width: 60px;
  margin-left: 2px;
  margin-right: 20px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.technology-icon i {
  font-size: 3em;
}

.technology-icon i:hover {
  opacity: 0.5;
}

#projects {
  min-height: 30%;
  overflow: hidden;
  color: white;
  margin-bottom: 0.5%;
  background-color: black;
}

.my-projects {
  height: 100%;
  width: 100%;
  color: black;
  padding-bottom: 2%;

}

.project {
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0 0% 0 0%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: white;
  border: 2px solid white;
  text-align: center;
}

.project-image:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-image{
  min-width: 100%;
  height: 220px;;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
}

.project-image img {
  display: none;
}

.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  position: fixed;
  top: 0%;
  left: 0%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 10%;
  height: 85%;
  border: 1px solid white;
  overflow: scroll;
  color: white;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
}

/* .modal-content.expand {
  max-width: 60%;
} */

.modal-image {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 60%;
}

.demo-link {
  color: white;
}

.demo-link:hover {
  color: rgba(255,255,255, 0.7);
}

#hire-me {
  background-color: white;
  width: 100%;
  height: 300px;
  border: 1px solid red;
  overflow: hidden;
}

.hire-me-image {
  background-image: url("../images/me-water.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  display: inline-flex;
  margin: 0;
  justify-content: flex-end;
  align-items: flex-end;
}

.hire-me-image h4{
display: inline-block;
margin: 0;
align-self: flex-start;
padding: 0;
border: 1px solid blue;
}

.position-credits {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  max-height: 60%;
}

.hire-me-image .photo-creds {
  position: inherit;

}

.hire-me-background {
  color: black;
  width: 49%;
  height: 80%;
  text-overflow: hidden;
  display: inline-block;
  margin: 0;
  overflow: hidden;
}

.parallax-window {
    margin-top: 0;
    min-height: 600px;
    background: transparent;
    position: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h2 {
  text-shadow: 3px 3px 3px #000;
}

.contact-form {
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
}

input {
  width: 50%;
}


#contact-message {
  max-width: 60%;
}

.slide-arrows {
  background-color: black;
  color: white;
  display: inline-block;
  opacity: 0.5;
  width: 7%;
  height: 20%;
  overflow: hidden;
}

.slide-arrows:hover {
  opacity: 1;
}

.slick-next {
  z-index: 50;
  position: absolute;
  top: 30%;
  right: 0;
  display: flex;
  justify-content: center;
}

.slick-next:before {
  z-index: 50;
}

.slick-prev {
  z-index: 50;
  position: absolute;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center;
}

.arrowIcons {
  display: inline-block;
  font-size: 2em;
}
